@model IEnumerable<DependencyInjection_MVC5.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_date)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.required_date)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.shipped_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store_name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.staff_name)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.order_id.ToString(), "Details", new {  id=item.order_id })
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.customer_name)*@
            @Html.ActionLink(item.customer_name, "Details", "Customer", new { id = item.order_id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_date)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.required_date)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.shipped_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store_name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.staff_name)
        </td>*@
        <td>
            @Html.ActionLink("View Order Details", "Details", new { id = item.order_id }) 
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
